{% extends '@inc/layout.html' %}

{% block content %}
<main id="mainContent" class="common-container">
	<div class="popup-wrap">
		<div class="popup">
			<button type="button"><span class="close-btn">close</span></button>
			<div class="text">
				<h3 class="title">텍스트 팝업 타이틀<br>두줄까지 가능합니다.</h3>
				<p class="desc">서브 텍스트 영역입니다. 서브 텍스트 영역입니다.</p>
			</div>
			<div class="btn-box">
				<span class="btn large outline primary round">버튼</span>
				<span class="btn large primary round">버튼</span>
			</div>
		</div>
	</div>
</main>
{% endblock %}